body{
    background-color:  #c6d5e857;
}

.div1{
    background-color:#c6d5e857;
    display: flex;
    align-items: center;
    

}
input[type=text]{
    border-radius: 12px;
    border: 1px rgb(108, 102, 102) solid;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    
    font-size: medium;
    padding-left: 1%;
}
.img{
    height: 40px;
    width: 40px;
    margin-top: 10px;
}
.imghome{
    height:30px ;
    width: 30px;
    margin-left: 100px;
    color: blue;

}
.imgmenu{
    height:20px ;
    width: 20px;
    margin-left: 130px;
    
}
.imgmenu2{
    height:20px ;
    width: 20px;
    margin-left: 20px;
    border-radius: 50px;
    
    
}



.userimg{
    height:30px ;
    width: 30px;
    margin-top: 20px;
    border-radius: 50px;
}

.maincontanior{
    display: flex;
    
    
}
ul{
    list-style-type: none;
}

li{
    display: flex;
    align-items: center;
    
}
li a{
    margin-top: 20px;
    text-decoration: none;
    margin-left: 10px;
}
.div01{
    margin-right:100px;
    background-color: #c6d5e857;
    margin-right: 70px;
    

    
}
.userimg{
    height: 30px;
    width: 30px;
}

.div02{
    
    background-color: #c6d5e857;
    width: 700Apx;
    
    
    
}
.kiran{
    height: 170px;
    width: 150px;
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 8px;
    
}
.maindiv{
    display: flex;
}

.usercontanior{
    height: 30px;
    width: 30px;

}
.div03{
    background-color:#c6d5e857;
    width: 250px;
    margin-left: 50px;
    
    
}
a{
    font-size: larger;
    
    margin-left: 30px;
    
}
.photos{
    height: 20px;
    width: 20px;
}
.button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 1px;
    height: 25px;
    width: 70px;
}
.button2{
    border-radius: 5px;
    border: 1px;
    height: 25px;
    width: 70px;

}
.cake{
    height: 20px;
    width: 20px;
}
.sponsored{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}
.puma{
    height: 150px;
    width: 150px;
}
.don{

    height: 20px;
    width: 20px;
}

.profilepic{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 20px;
}
input[type=text1]{
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border: 1px rgb(108, 102, 102) solid;
    margin-top: 25px;
}
.livevdo{
    height: 30px;
    width: 30px;
    display: flex;
    margin-left: 70px;
}
.gatf{
    display: flex;

}
.fblogo01{
    border: 1px rgb(108, 102,102);
    background-color: white;
    border-radius: 12px;
}
.kiranpp{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-right: 20px;
    margin-left: 30px;
}
.bigimg{
    background-color: white;
    margin-top: 30px;
    border-radius: 12px;
}
.hr{
    margin-bottom: 150px;
    margin-left: 50px;
    
}
.kiranpic{
    height: 400px;
    width: 500px;
    margin-left: 80px;
    border-radius: 10px;
    margin-top: 20px;
}
.like{
    height: 20px;
    width: 20px;
    margin-left: 120px;

    

}